{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/includes/inc_description_header.html' %}
<div class="row mx-2">
    <div class="col-md-4 mb-3">
        {% load media_tags %}
        <img src="{% mediapath object.image %}" class="img-fluid" alt="{{ product.name }}">
    </div>
    <div class="col-md-8 mb-3">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <h3>{{ product.price }} руб.</h3><br>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
    </div>
</div><br><br>
{% endblock %}

